# Database Configuration (Supabase)
DATABASE_URL="postgresql://user:password@host:port/database?connect_timeout=300&pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:port/database?connect_timeout=300&pgbouncer=true"

# NextAuth Configuration
NEXTAUTH_SECRET=your-nextauth-secret-here-generate-with-openssl-rand-hex-32
NEXTAUTH_URL=http://localhost:3000

# Upstash Redis Configuration
UPSTASH_REDIS_REST_URL="https://your-redis-url.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your-redis-token-here"
